<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4w77MOja4_K1IVNGoiBYtIORulA9Jozw</string>
	<key>GCM_SENDER_ID</key>
	<string>619436709613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kamaApp</string>
	<key>PROJECT_ID</key>
	<string>kamaapp-f8b86</string>
	<key>STORAGE_BUCKET</key>
	<string>kamaapp-f8b86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619436709613:ios:5b25201a745c5298005ee4</string>
</dict>
</plist>